In [13]:
# import libraries

import pandas as pd

import sys

from sqlalchemy import create_engine, MetaData, Table, select, engine

In [14]:
# parameters

server = "localhost\sqlexpress"

db = "travelsearch"

driver = "driver=SQL Server Native Client 11.0"

# Create the connection
engine = create_engine( "mssql+pyodbc://" + server + "/" + db + "?" + driver )

sql = input( "Type correctly formatted query: " )

df = pd.read_sql_query( sql, engine )

print( df.head( 10 ) )

Type correctly formatted query: select top 10 * from dbo.customer;
Empty DataFrame
Columns: [cx_id, cx_lastnm, cx_firstnm, cx_midinit, cx_email, cx_insert_date, cx_update_date]
Index: []